# Database
DB_URL=jdbc:mysql://localhost:3306/pet_care_cart?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=root

# JWT (phải khớp với identity_service)
JWT_SIGNER_KEY=e95719c52849d612d61dc20c0e14b25ece0a7a22d8eacb434e93d0f7257f2071

# Services
PRODUCT_SERVICE_URL=http://localhost:8081/pet_care_product
