# Database
DB_URL=jdbc:mysql://localhost:3306/pet_care_payment?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=root

# JWT (phải khớp với identity_service)
JWT_SIGNER_KEY=cnGDY/xuGdmN0zD9ktlVWVA8/Vki3ep0ZiDNJC++DHFSIerOdQJNH4epcyEy+YZR

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# VNPay (sandbox)
VNPAY_TMN_CODE=WZOHMQT5
VNPAY_SECRET_KEY=GS4JZ6GBJE8NP3K54S3252I1FXURC8AA
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8084/pet_care_payment/payments/vnpay-callback

# Services
ORDER_SERVICE_URL=http://localhost:8083/pet_care_order
