# Database
DB_URL=jdbc:mysql://localhost:3306/pet_care_order?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=your_db_password

# JWT (phải khớp với identity_service)
JWT_SIGNER_KEY=your_very_strong_secret_key_at_least_64_characters_long_here

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Services
PRODUCT_SERVICE_URL=http://localhost:8081/pet_care_product
